body{
    font-family: 'Lato', sans-serif;
    margin: 70px 0px;
    background: #0069D6;
}
.divider{
    width: 100px;
    height: 2px;
    background: #ffa500;
    margin: 0px auto;
}
.heading{
    text-align: center;
    margin-bottom: 60px;
}
.heading h3{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
#contact-form{
    font-size: 20px;
    padding: 40px;
    background: white;
    border-radius: 10px;
}
.p{
    color:#0069D6;
}  
